[submodule "CSXCAD"]
	path = CSXCAD
	url = https://github.com/spetten/CSXCAD.git
[submodule "QCSXCAD"]
	path = QCSXCAD
	url = https://github.com/spetten/QCSXCAD.git
[submodule "AppCSXCAD"]
	path = AppCSXCAD
	url = https://github.com/spetten/AppCSXCAD.git
[submodule "openEMS"]
	path = openEMS
	url = https://github.com/spetten/openEMS.git
[submodule "fparser"]
	path = fparser
	url = https://github.com/spetten/fparser.git
[submodule "hyp2mat"]
	path = hyp2mat
	url = https://github.com/spetten/hyp2mat.git
[submodule "CTB"]
	path = CTB
	url = https://github.com/spetten/CTB.git
